body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #111827;
  color: white;
  padding: 15px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Chat */
.chat-container {
  flex: 1;
  background: grey;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: white;
  border-radius: 10px;
}

/* Messages */
.user {
  background: #2563eb;
  color: black;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
  align-self: flex-end;
}

.bot {
  background: #e5e7eb;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
}

/* Input */
.input-area {
  display: flex;
  margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin-left: 5px;
}

/* Dark mode */
.dark {
  background: #111;
  color: white;
}